.topik {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 1px solid; BORDER-LEFT: #a57e2e 1px solid; BORDER-BOTTOM: #a57e2e 0px solid
}
.zagolovok {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 0px solid; BORDER-LEFT: #a57e2e 1px solid; BORDER-BOTTOM: #a57e2e 0px solid
}
.top_reklama_banner {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 0px solid; BORDER-LEFT: #a57e2e 1px solid; BORDER-BOTTOM: #a57e2e 0px solid
}
.down_banner {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 0px solid; BORDER-LEFT: #a57e2e 1px solid; BORDER-BOTTOM: #a57e2e 1px solid
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.banner_okantovka {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #a57e2e 1px solid; COLOR: #000000; BORDER-BOTTOM: #a57e2e 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.menu2 {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 1px solid; BORDER-LEFT: #a57e2e 1px solid; BORDER-BOTTOM: #a57e2e 1px solid
}
.menu2_text {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.menu2_links {
	FONT-SIZE: 18px; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif; TEXT-DECORATION: none
}
.menu_left {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 0px solid; BORDER-LEFT: #a57e2e 0px solid; BORDER-BOTTOM: #a57e2e 0px solid
}
.menu {
	BORDER-RIGHT: #a57e2e 0px solid; BORDER-TOP: #a57e2e 0px solid; BORDER-LEFT: #a57e2e 0px solid; BORDER-BOTTOM: #a57e2e 0px solid
}
.menu_links {
	FONT-SIZE: 12px; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
.ramka {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.ramka_tema {
	BORDER-RIGHT: #b6a960 0px ridge; BORDER-TOP: #b6a960 1px ridge; BORDER-LEFT: #b6a960 0px ridge; BORDER-BOTTOM: #b6a960 1px ridge
}
.spisok_menu {
	BORDER-RIGHT: #a57e2e 1px solid; BORDER-TOP: #a57e2e 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #a57e2e 1px solid; COLOR: #0000ff; BORDER-BOTTOM: #a57e2e 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif; TEXT-DECORATION: none
}
.new_postupleniaya_date {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.new_postupleniya_text {
	FONT-SIZE: 16px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
.bigTable_fon {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif; BACKGROUND-COLOR: #a57e2e; FONT-VARIANT: small-caps
}
.biblio {
	FONT-SIZE: 12px; CURSOR: ne-resize; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mycount {
	FONT-SIZE: 10px; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
