BODY {
	SCROLLBAR-FACE-COLOR: #d2d5c4; SCROLLBAR-HIGHLIGHT-COLOR: #f4f5e3; SCROLLBAR-SHADOW-COLOR: #f4f5e3; COLOR: #686757; SCROLLBAR-3DLIGHT-COLOR: #1c1d0d; SCROLLBAR-ARROW-COLOR: #998e70; SCROLLBAR-TRACK-COLOR: #f4f5e3; SCROLLBAR-DARKSHADOW-COLOR: #1c1d0d; SCROLLBAR-BASE-COLOR: #f4f5e3; BACKGROUND-COLOR: #f4f5e3
}
A:link {
	COLOR: #004576; TEXT-DECORATION: none
}
A:active {
	COLOR: #004576; TEXT-DECORATION: none
}
A:visited {
	COLOR: #530045; TEXT-DECORATION: none
}
A:hover {
	COLOR: #686757; TEXT-DECORATION: none
}
H1 {
	TEXT-ALIGN: center
}
H2 {
	TEXT-ALIGN: center
}
H3 {
	TEXT-ALIGN: center
}
H4 {
	TEXT-ALIGN: center
}
H5 {
	TEXT-ALIGN: center
}
H6 {
	TEXT-ALIGN: center
}
H1 {
	TEXT-ALIGN: center
}
HR {
	COLOR: #686757
}
P {
	TEXT-ALIGN: justify
}
TD {
	TEXT-ALIGN: justify
}
BLOCKQUOTE {
	TEXT-ALIGN: justify
}
P {
	MARGIN-TOP: 2pt; MARGIN-BOTTOM: 2pt; TEXT-INDENT: 2em
}
BLOCKQUOTE {
	MARGIN-TOP: 2pt; MARGIN-BOTTOM: 2pt; TEXT-INDENT: 2em
}
BLOCKQUOTE {
	FONT-SIZE: x-small
}
.epigraf {
	WIDTH: 320px; TEXT-INDENT: 290px
}
DIV {
	WIDTH: 612px
}
STRONG {
	COLOR: #47525c
}
A {
	FONT-WEIGHT: bold
}
EM {
	FONT-WEIGHT: bold
}
