#titlb {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: left
}
#titlg {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #326846; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: left
}
#trb {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: left
}
#trbl {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: right
}
#trbc {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: center
}
#tleft {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: left
}
#tcent {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: center
}
#tbase {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
#tbasel {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
#tbasec {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
#tbase8 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
#tbase8c {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
#tlink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: right
}
#tlinl {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: left
}
P.basem {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
P.basel {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
P.blue {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; COLOR: #008000; FONT-STYLE: normal; FONT-FAMILY: Arial, serif; TEXT-ALIGN: right
}
P.gr12 {
	FONT-WEIGHT: 600; FONT-SIZE: 12pt; COLOR: #008000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
H1 {
	
}
H2 {
	
}
H3.man {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #000099; FONT-STYLE: normal; FONT-FAMILY: Times New Roman, sans-serif; TEXT-ALIGN: right
}
A {
	
}
A:visited {
	
}
A:active {
	
}
A:hover {
	
}
BODY {
	
}
P {
	
}
