<?xml version="1.0"?>
<Base>
	<NetVersion>3</NetVersion>
	<Port>4201</Port>
	<GameTimeout>30000</GameTimeout>
	<GameLoadingTimeout>300000</GameLoadingTimeout>
	<MySQLServer>127.0.0.1</MySQLServer>
	<MySQLDBName>NivalNET2</MySQLDBName>
	<ChatSegmentLength>500</ChatSegmentLength>
	<MaxFriends>20</MaxFriends>
	<ServerLogPeriod>900000</ServerLogPeriod>
	<Welcome></Welcome>
	<CheckCDKeyIsValid>0</CheckCDKeyIsValid>
	<TerminalPort>101</TerminalPort>
	<LadderConsts>
		<LevelDelta>5</LevelDelta>
		<WaitTime1>20000</WaitTime1>
		<WaitTime2>40000</WaitTime2>
		<MaxTeamSize>4</MaxTeamSize>
		<PlayersPerStep>5</PlayersPerStep>
		<NumberOfRaces>4</NumberOfRaces>
		<MaxUnitTypes>30</MaxUnitTypes>
		<MistakesPerStep>10</MistakesPerStep>
		<KilledMedals>
			<Item>200</Item>
			<Item>1000</Item>
			<Item>3000</Item>
		</KilledMedals>
		<KilledLostMedals>
			<Item>1.5</Item>
			<Item>3</Item>
			<Item>5</Item>
		</KilledLostMedals>
		<WinsInSeriesMedals>
			<Item>3</Item>
			<Item>5</Item>
			<Item>10</Item>
		</WinsInSeriesMedals>
		<FirstPlaceMedalLevel>20</FirstPlaceMedalLevel>
		<Experience>
			<NewbieLevel>10</NewbieLevel>
			<LossFactor>
				<Item>
					<Key>1</Key>
					<Data>0.1</Data>
				</Item>
				<Item>
					<Key>2</Key>
					<Data>0.1</Data>
				</Item>
				<Item>
					<Key>3</Key>
					<Data>0.1</Data>
				</Item>
				<Item>
					<Key>4</Key>
					<Data>0.25</Data>
				</Item>
				<Item>
					<Key>5</Key>
					<Data>0.25</Data>
				</Item>
				<Item>
					<Key>6</Key>
					<Data>0.5</Data>
				</Item>
				<Item>
					<Key>7</Key>
					<Data>0.5</Data>
				</Item>
				<Item>
					<Key>8</Key>
					<Data>0.75</Data>
				</Item>
				<Item>
					<Key>9</Key>
					<Data>0.75</Data>
				</Item>
				<Item>
					<Key>10</Key>
					<Data>1</Data>
				</Item>
			</LossFactor>
			<Win>
				<Item>
					<Key>-5</Key>
					<Data>75</Data>
				</Item>
				<Item>
					<Key>-4</Key>
					<Data>80</Data>
				</Item>
				<Item>
					<Key>-3</Key>
					<Data>85</Data>
				</Item>
				<Item>
					<Key>-2</Key>
					<Data>90</Data>
				</Item>
				<Item>
					<Key>-1</Key>
					<Data>95</Data>
				</Item>
				<Item>
					<Key>0</Key>
					<Data>100</Data>
				</Item>
				<Item>
					<Key>1</Key>
					<Data>115</Data>
				</Item>
				<Item>
					<Key>2</Key>
					<Data>130</Data>
				</Item>
				<Item>
					<Key>3</Key>
					<Data>145</Data>
				</Item>
				<Item>
					<Key>4</Key>
					<Data>155</Data>
				</Item>
				<Item>
					<Key>5</Key>
					<Data>165</Data>
				</Item>
			</Win>
			<Lose>
				<Item>
					<Key>5</Key>
					<Data>35</Data>
				</Item>
				<Item>
					<Key>4</Key>
					<Data>45</Data>
				</Item>
				<Item>
					<Key>3</Key>
					<Data>55</Data>
				</Item>
				<Item>
					<Key>2</Key>
					<Data>70</Data>
				</Item>
				<Item>
					<Key>1</Key>
					<Data>85</Data>
				</Item>
				<Item>
					<Key>0</Key>
					<Data>100</Data>
				</Item>
				<Item>
					<Key>-1</Key>
					<Data>105</Data>
				</Item>
				<Item>
					<Key>-2</Key>
					<Data>110</Data>
				</Item>
				<Item>
					<Key>-3</Key>
					<Data>115</Data>
				</Item>
				<Item>
					<Key>-4</Key>
					<Data>120</Data>
				</Item>
				<Item>
					<Key>-5</Key>
					<Data>130</Data>
				</Item>
			</Lose>
			<Levels>
				<Item>0</Item>
				<Item>100</Item>
				<Item>300</Item>
				<Item>600</Item>
				<Item>1000</Item>
				<Item>1500</Item>
				<Item>2000</Item>
				<Item>2500</Item>
				<Item>3000</Item>
				<Item>3500</Item>
				<Item>4000</Item>
				<Item>4500</Item>
				<Item>5000</Item>
				<Item>5500</Item>
				<Item>6000</Item>
				<Item>6500</Item>
				<Item>7000</Item>
				<Item>7500</Item>
				<Item>8000</Item>
				<Item>8600</Item>
				<Item>9200</Item>
				<Item>9800</Item>
				<Item>10400</Item>
				<Item>11000</Item>
				<Item>11600</Item>
				<Item>12200</Item>
				<Item>12800</Item>
				<Item>13400</Item>
				<Item>14000</Item>
				<Item>14600</Item>
				<Item>15200</Item>
				<Item>15800</Item>
				<Item>16400</Item>
				<Item>17000</Item>
				<Item>17600</Item>
				<Item>18200</Item>
				<Item>18800</Item>
				<Item>19400</Item>
				<Item>20000</Item>
				<Item>20600</Item>
				<Item>21300</Item>
				<Item>22000</Item>
				<Item>22700</Item>
				<Item>23400</Item>
				<Item>24100</Item>
				<Item>24800</Item>
				<Item>25500</Item>
				<Item>26200</Item>
				<Item>26900</Item>
				<Item>27600</Item>
				<Item>28300</Item>
				<Item>29000</Item>
				<Item>29700</Item>
				<Item>30400</Item>
				<Item>31100</Item>
				<Item>31800</Item>
				<Item>32500</Item>
				<Item>33200</Item>
				<Item>33900</Item>
				<Item>34600</Item>
				<Item>35400</Item>
				<Item>36200</Item>
				<Item>37000</Item>
				<Item>37800</Item>
				<Item>38600</Item>
				<Item>39400</Item>
				<Item>40200</Item>
				<Item>41000</Item>
				<Item>41800</Item>
				<Item>42600</Item>
				<Item>43400</Item>
				<Item>44200</Item>
				<Item>45000</Item>
				<Item>45800</Item>
				<Item>46600</Item>
				<Item>47400</Item>
				<Item>48200</Item>
				<Item>49000</Item>
				<Item>49800</Item>
				<Item>50600</Item>
				<Item>51600</Item>
				<Item>52600</Item>
				<Item>53600</Item>
				<Item>54600</Item>
				<Item>55600</Item>
				<Item>56600</Item>
				<Item>57600</Item>
				<Item>58600</Item>
				<Item>59600</Item>
				<Item>60600</Item>
				<Item>62100</Item>
				<Item>63600</Item>
				<Item>65100</Item>
				<Item>66600</Item>
				<Item>68100</Item>
				<Item>69600</Item>
				<Item>71100</Item>
				<Item>72600</Item>
				<Item>74100</Item>
				<Item>77100</Item>
			</Levels>
		</Experience>
	</LadderConsts>
</Base>
