.small_title {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.big_title {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.title {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.menu_dops {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
A.menu {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.info {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
A.yello {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.h_info {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.small {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
A.right {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
usual {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.right {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.white_right {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.menu {
	FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
A.nav {
	FONT-FAMILY: Verdana, Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
A.bigMenu {
	FONT-FAMILY: Verdana, Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.nav {
	FONT-FAMILY: Verdana, Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
A:link {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; COLOR: red; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; COLOR: red; TEXT-DECORATION: underline
}
A.bold:link {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.bold:visited {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.bold:active {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.bold:hover {
	FONT-WEIGHT: bold; COLOR: red; TEXT-DECORATION: none
}
A.nav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.nav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.nav:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: none
}
A.yello:link {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #808000; TEXT-DECORATION: none
}
A.yello:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffff00; TEXT-DECORATION: none
}
A.yello:active {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.yello:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fcf7c9; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fcf7c9; TEXT-DECORATION: none
}
A.menu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.bigMenu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.bigMenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.bigMenu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.bigMenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.bigMenu:link {
	COLOR: #fcf7c9
}
A.bigMenu:visited {
	COLOR: #fcf7c9
}
A.bigMenu:active {
	COLOR: #ffffff
}
A.bigMenu:hover {
	COLOR: #ffffff
}
A.right {
	FONT-SIZE: 11px
}
.title {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; BACKGROUND-COLOR: #efefef
}
.small_title {
	FONT-SIZE: 12px
}
.big_title {
	FONT-SIZE: 17px
}
.info {
	FONT-SIZE: 10px; COLOR: #ffffff
}
.small {
	FONT-SIZE: 10px
}
.h_info {
	FONT-SIZE: 13px; COLOR: #ffffff
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fcf7c9
}
.header_hero {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.header_fio {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.header_bg {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.header_1 {
	FONT-WEIGHT: bold; FONT-SIZE: 34px; FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.header_2 {
	FONT-WEIGHT: bold; FONT-SIZE: 34px; FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.header_bg2 {
	FONT-WEIGHT: bold; FONT-SIZE: 34px; FONT-FAMILY: Arial, ArialC, Helvetica, HelveticaC, Sans-serif
}
.header_hero {
	COLOR: #e8a052
}
.header_1 {
	COLOR: #e8a052
}
.header_fio {
	COLOR: #fcf7cc
}
.header_2 {
	COLOR: #fcf7cc
}
.header_bg {
	COLOR: #000000
}
.header_bg2 {
	COLOR: #000000
}
.menu_fio {
	FONT-FAMILY: Verdana, Arial, ArialC, Helvetica
}
.menu_fio {
	FONT-FAMILY: Verdana, Arial, ArialC, Helvetica
}
.sub_header {
	FONT-FAMILY: Verdana, Arial, ArialC, Helvetica
}
.text {
	FONT-FAMILY: Verdana, Arial, ArialC, Helvetica
}
.sub_header {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red
}
.menu_dops {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fccccc
}
.menu_fio {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff
}
.bo_td_gray {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #e3e3e3
}
.bo_td_pink {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ffe3e3
}
.bo_shadow {
	BACKGROUND-COLOR: #666666
}
.td_dops {
	FONT-SIZE: 12px
}
.b_adds {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial
}
.usual {
	FONT-SIZE: 12px
}
.nav {
	FONT-SIZE: 12px
}
.tr1 {
	
}
.tr0 {
	BACKGROUND-COLOR: #efefef
}
.right {
	FONT-SIZE: 11px; BACKGROUND-COLOR: #fbfbfb
}
.white_right {
	FONT-SIZE: 11px; BACKGROUND-COLOR: #ffffff
}
.text {
	FONT-SIZE: 11px
}
