BODY {
	FONT-FAMILY: arial; FONT-SIZE: 13px; VERTICAL-ALIGN: top
}
P {
	FONT-FAMILY: arial; FONT-SIZE: 13px; VERTICAL-ALIGN: top
}
TABLE {
	FONT-FAMILY: arial; FONT-SIZE: 13px; VERTICAL-ALIGN: top
}
TR {
	FONT-FAMILY: arial; FONT-SIZE: 13px; VERTICAL-ALIGN: top
}
TD {
	FONT-FAMILY: arial; FONT-SIZE: 13px; VERTICAL-ALIGN: top
}
FORM {
	FONT-FAMILY: arial; FONT-SIZE: 13px; VERTICAL-ALIGN: top
}
A {
	FONT-FAMILY: arial; FONT-SIZE: 13px; VERTICAL-ALIGN: top
}
INPUT {
	FONT-FAMILY: verdana; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
SELECT {
	FONT-FAMILY: verdana; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
TEXTAREA {
	FONT-FAMILY: verdana; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
CHECKBOX {
	FONT-FAMILY: verdana; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
SUBMIT {
	FONT-FAMILY: verdana; FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
A {
	COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #404040; TEXT-DECORATION: none
}
EM {
	FONT-SIZE: 15px
}
.margined {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.forms_error {
	COLOR: #ff0000
}
.editor-title {
	COLOR: #808080; FONT-SIZE: 12px
}
.editor {
	COLOR: #808080; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.news {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.news A {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.right {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px
}
.right A {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.right-med {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px
}
.right-med A {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.right-thin {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px
}
.right-thin A {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.news-subparts {
	COLOR: #336633; FONT-SIZE: 11px; FONT-WEIGHT: bold; font-face: arial
}
.news-subparts:visited {
	COLOR: #336633; FONT-SIZE: 11px; FONT-WEIGHT: bold; font-face: arial
}
.news-subparts:hover {
	COLOR: #447744; FONT-SIZE: 11px; FONT-WEIGHT: bold; font-face: arial
}
.bottom-navig-bg {
	BACKGROUND-COLOR: #000000; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.main-col-left {
	COLOR: #eeeeee; FONT-SIZE: 11px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle
}
.col-right {
	COLOR: #eeeeee; FONT-SIZE: 12px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle
}
.enc-col-right-title {
	COLOR: #eeeeee; FONT-SIZE: 11px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle
}
.enc-article {
	FONT-SIZE: 11pt
}
.enc-article A {
	COLOR: #ce9b4a
}
.enc-article:visited {
	COLOR: #8e4b2a
}
.enc-article:hover {
	COLOR: #be8b3a
}
.path {
	COLOR: #999966; FONT-SIZE: 13px; FONT-WEIGHT: bold; font-face: verdana
}
.path A {
	COLOR: #999966; FONT-SIZE: 13px; FONT-WEIGHT: bold; font-face: verdana
}
.path:visited {
	COLOR: #999966
}
.path:hover {
	COLOR: #888855
}
.main-menu {
	COLOR: #00498a; FONT-SIZE: 12px; FONT-WEIGHT: bold; font-face: arial
}
.main-menu A {
	COLOR: #00498a; FONT-SIZE: 12px; FONT-WEIGHT: bold; font-face: arial
}
.main-menu:visited {
	COLOR: #00498a
}
.main-menu:hover {
	COLOR: #2069aa
}
.weektopic {
	COLOR: #eeeeee; FONT-WEIGHT: bold
}
.weektopic A {
	COLOR: #eeeeee
}
.weektopic:visited {
	COLOR: #eeeeee
}
.weektopic:hover {
	COLOR: #aaaaaa
}
.seealso {
	FONT-SIZE: 11px
}
.seealso:visited {
	FONT-SIZE: 11px
}
.seealso:hover {
	FONT-SIZE: 11px
}
.calendar {
	FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.calendar:visited {
	FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.calendar:hover {
	FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.calendar-on {
	COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.calendar-on:visited {
	COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.calendar-on:hover {
	COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.sort {
	FONT-SIZE: 9px
}
.sort:visited {
	FONT-SIZE: 9px
}
.sort:hover {
	FONT-SIZE: 9px
}
