.vbottom {
	VERTICAL-ALIGN: bottom
}
.vmiddle {
	VERTICAL-ALIGN: middle
}
.underlined {
	TEXT-DECORATION: underline
}
.padded2v {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.padded6h {
	PADDING-LEFT: 6px; PADDING-RIGHT: 6px
}
.padded6 {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.fs7 {
	FONT-SIZE: 7px
}
.fs8 {
	FONT-SIZE: 8px
}
.fs9 {
	FONT-SIZE: 9px
}
.pt9 {
	FONT-SIZE: 9pt
}
.pt9 A {
	FONT-SIZE: 9pt
}
.fs10 {
	FONT-SIZE: 10px
}
.fs11 {
	FONT-SIZE: 11px
}
.fs12 {
	FONT-SIZE: 12px
}
.fs12 A {
	FONT-SIZE: 12px
}
.fs13 {
	FONT-SIZE: 13px
}
.fs14 {
	FONT-SIZE: 14px
}
.fs15 {
	FONT-SIZE: 15px
}
.fs16 {
	FONT-SIZE: 16px
}
.fs16 A {
	FONT-SIZE: 16px
}
.fs17 {
	FONT-SIZE: 17px
}
.fs18 {
	FONT-SIZE: 18px
}
.fs19 {
	FONT-SIZE: 19px
}
.fs20 {
	FONT-SIZE: 20px
}
.fp11 {
	FONT-SIZE: 11pt
}
