TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial
}
TD {
	FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: Arial
}
STRONG {
	FONT-SIZE: 16pt; FONT-FAMILY: Arial
}
BODY {
	FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: Arial
}
P {
	MARGIN-TOP: 2mm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 2mm; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
UL {
	MARGIN-TOP: 2mm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 2mm; MARGIN-LEFT: 7mm; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
OL {
	MARGIN-TOP: 2mm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 2mm; MARGIN-LEFT: 7mm; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
DT {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
DD {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
H1 {
	FONT-SIZE: 19pt; FONT-FAMILY: Times New Roman; TEXT-ALIGN: center
}
H2 {
	FONT-SIZE: 16pt; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H3 {
	FONT-SIZE: 13pt; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H4 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial
}
BLOCKQUOTE {
	FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: Times New Roman; TEXT-ALIGN: justify
}
CAPTION {
	FONT-WEIGHT: bold; COLOR: maroon; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
